:root {
  --primary: #55ea53;
  --primary-1: #19d017;
  --primary-0: #81f67f;
  --primary-dark: #0f870e;
  --text: #1b1b1b;
  --background: #fdfafa;
  --dark-grey: #afafaf73;
  --alert: #e82c3f;
  --success: #28a745;

  font-size: 60%;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--background);

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: var(--text);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

#content {
  min-height: 100%;
  position: relative;
  padding-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
}
input,
select,
button,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:visited,
a:active,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
select,
button,
textarea:focus {
  outline: none;
}

b {
  font-weight: 700;
}

/* Barra */
::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
}

@media screen and (min-width: 801px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

/* Seleção */
::selection {
  background: var(--primary-0);
  color: var(--text);
}

::-moz-selection {
  background: var(--primary-0);
  color: var(--text);
}

/* Componentes */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 19px;

  font-size: 17px;
  font-weight: 700;

  border: none;

  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.btn .icon {
  width: 20px;
  margin-left: 7px;
}

.primary {
  color: white;
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-0);
}

.toast {
  display: flex;
  margin: 2rem 3rem;
  position: fixed;
  background-color: transparent;

  animation: toastAnimation 0.5s;
}

.toast.success .icon-container {
  background-color: var(--success);
}

.toast.alert .icon-container {
  background-color: var(--alert);
}

.toast .icon-container,.message-container {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast .icon-container {
  width: 42px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.toast .icon-container .icon {
  color: white;
  height: 22px;
}

.toast .message-container {
  color: white;
  font-size: 1.75rem;
  padding: 0 2rem 0 1.75rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #28282c;
}

@keyframes toastAnimation {
  0% {
    animation-timing-function: ease;
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(0px)
  }
}