.welcome-container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;

  padding: 4rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-image: url('/assets/images/home-background.jpg');
}

.welcome-text {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}


.welcome-container h1 {
  color: white;
  font-size: 10.5rem;
}

.welcome-container h2 {
  width: 100%;
  text-align: left;
  font-size: 6rem;
  color: var(--primary);
}

.welcome-container b {
  font-weight: 700;
  color: var(--primary);
}

.content-alert {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.content-alert h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: white;
}

.content-alert .icon {
  width: 40px;
  height: 40px;
  color: white;

  animation: arrowAnimation 2s infinite;
}

@keyframes arrowAnimation {
  0% {
    animation-timing-function: ease;
    transform: translateY(-5px);
  }

  50% {
    animation-timing-function: ease;
    transform: translateY(10px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(-5px)
  }
}

@media (max-width: 1000px) {
  .welcome-container h1 {
    color: white;
    font-size: 7rem;
  }

  .welcome-container h2 {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .welcome-container h1 {
    font-size: 4rem;
  }

  .welcome-container h2 {
    display: none;
  }

  .content-alert h3 {
    font-size: 2rem;
  }

  .content-alert .icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  .welcome-container h1 {
    font-size: 3.5rem;
  }

  .content-alert h3 {
    font-size: 1.75rem;
  }
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  align-items: center;
}

.about .info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  max-width: 80vw;
  padding: 3rem;
  background-color: white;

  border-radius: 21px;
  box-shadow:  7px 7px 14px #929292,
              -7px -7px 14px #ffffff;
}

.about .info.revert {
  grid-template-columns: 3fr 1fr;
}

.about .info .image-container {
  padding: 2rem;
}

.about .info .image-container img {
  width: 100%;
  height: 100%;
}

.about .info h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary);
}

.about .info .text {
  font-size: 2.1rem;
  line-height: 29px;
  letter-spacing: 2px;
}

.about .info + .info {
  margin-top: 5rem;
}